.authLayout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr max-content;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
    ;
}

.header {
    grid-area: header;

}

.sidebar {
    grid-area: sidebar;
    
}

.content {
    grid-area: content;
    padding: 10px;
}

.footer {
    grid-area: footer;

}

.drawer {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    width: 400px;
    &.open {
        right: 0;
        transition: right 0.5s ease-in-out;
    }
    background-color: pink;
}