.item {
    border: 1px solid gray;
    width: 150px;
}

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.itemSelected {
    border: 1px solid black;
    background-color: burlywood;
    position: relative;
    top: -10px;
}